<!-- BEGIN : BLOG ITEM -->
<a class="blog__item" href="/blog/{{slug}}" title="{{title-attr}}">
  <img class="blog__img" src="/images/blog/featured/{{src}}.jpg" alt="{{alt}}">
  <h3 class="blog__title">{{#if external}} rel="external">{{/if}}{{title}}{{#if subtitle}}: <em>{{subtitle}}</em>{{/if}}</h3>
  <time class="blog__date" datetime="{{pubDate}}">{{readableDate}}</time>
  <p class="blog__body">{{summary}}</p>
  <span class="blog__link">
    <span class="blog__link-body">Read post</span>
    <svg class="blog__link-icon" width="20" height="20">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow"></use>
    </svg>
  </span>
</a>
<!-- END : BLOG ITEM /-->
