<!-- BEGIN : BLOG ITEM -->
<a class="blog__item" href="/blog/{{slug}}" title="{{title-attr}}">
  <!-- BEGIN : BLOG THUMBNAIL -->
  <div class="blog__thumbnail">
    <!-- BEGIN : SYMBOL -->
    <div class="symbol symbol--tertiary">
      <svg class="symbol__icon symbol__icon--tertiary" width="20" height="20">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#blog"></use>
      </svg>
    </div>
    <!-- END : SYMBOL /-->
    <img class="blog__img" src="/images/blog/featured/{{src}}.jpg" alt="{{alt}}">
  </div>
  <!-- END : BLOG THUMBNAIL /-->
  <!-- BEGIN : BLOG DETAILS -->
  <div class="blog__details">
    <h4 class="blog__title">{{#if external}} rel="external">{{/if}}{{title}}{{#if subtitle}}: <em>{{subtitle}}</em>{{/if}}</h4>
    <time class="blog__date" datetime="{{pubDate}}">{{readableDate}}</time>
    <p class="blog__body">{{summary}}</p>
    <span class="blog__link">
      <span class="blog__link-body">Read post</span>
      <svg class="blog__link-icon" width="20" height="20">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#arrow"></use>
      </svg>
    </span>
  </div>
  <!-- END : BLOG DETAILS /-->
</a>
<!-- END : BLOG ITEM /-->
