<!-- BEGIN : BLOG ITEM -->
<a class="blog__item" href="/blog/{{this.slug}}" title="{{{this.title-attr}}}">
  <h3 class="blog__item-title">{{#if external}} rel="external">{{/if}}{{{this.title}}}{{#if subtitle}}: <em>{{{subtitle}}}</em>{{/if}}</h3>
  {{#if summary}}{{{summary}}}{{/if}}
  {{#if additionalInfo}}<p class="blog__item-additional">{{{additionalInfo}}}</p>{{/if}}
  {{#if external}}<p class="blog-item-additional">{{{externalSource}}}</p>{{/if}}
  <time datetime="{{{pubDate}}}" class="blog__item-date">
    {{{this.readableDate}}}
  </time>
  <span class="btn btn--red">
    Read post
    <svg width="20" height="20" class="btn__icon btn__icon--red">
      <use xlink:href="/images/icons/sprite.svg#arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </span>
  <span class="block-line"></span>
</a>
<!-- END : BLOG ITEM /-->
