<a class="site-blog__item" href="/blog/{{this.slug}}">
  <h3 class="site-blog__item-title">{{#if external}} rel="external">{{/if}}{{{this.title}}}{{#if subtitle}}: <em>{{{subtitle}}}</em>{{/if}}</h3>
  <time itemprop="datePublished"{{#if this.pubDate}} value="{{{this.pubDate}}}"{{/if}} class="site-blog__item-date">
    {{{this.readableDate}}}
  </time>
  {{#if summary}}{{{summary}}}{{/if}}
  {{#if additionalInfo}}<span class="article-list__additional">{{{additionalInfo}}}</span>{{/if}}
  {{#if external}}<span class="article-list__additional">{{{externalSource}}}</span>{{/if}}
  <span class="btn-primary--no-padding btn-primary--no-padding-pink btn-primary__flex">
    <span class="btn-primary__text">Read Post</span>
    <svg class="btn-primary__icon btn-primary__icon--blue">
      <title>Arrow pointing right</title>
      <use xlink:href="/images/icons/sprite.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </span>
</a>
