<!-- ******************** SITE HEADER : Start ******************** /-->
<header class="site-header" role="banner">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : SKIP LINKS -->
    <div class="skip-links">
      <a href="#nav" class="skip-link hidden focusable">Skip to navigation</a>
      <a href="#content" class="skip-link hidden focusable scroll-to" data-offset-top="130">Skip to content</a>
    </div>
    <!-- END : SKIP LINKS /-->
    <!-- BEGIN : SITE HEADER FLEX -->
    <div class="site-flex site-flex--align-center">
      <!-- BEGIN : MAIN HEADER -->
      <div class="site-logo">
        <a href="/" class="site-logo__link" title="Internal link to homepage."><img class="site-logo__img" src="/images/logo.png" alt="Alex Clapperton's website logo." /></a>
      </div>
      <!-- END : MAIN HEADER /-->
      <!-- BEGIN : SITE NAV -->
      <nav class="site-nav site-flex site-flex--align-center" id="nav" role="navigation">
        {{#each global.navigation}}
          <!-- BEGIN : SITE NAV LINK -->
          <a href="{{{this.url}}}" class="site-nav__link site-nav__link--{{{this.slug}}}" title="{{{this.title-attr}}}">
            <svg class="site-nav__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#{{{this.icon}}}"></use>
            </svg>
            <span class="site-nav__text">{{{this.title}}}</span>
          </a>
          <!-- END : SITE NAV LINK /-->
        {{/each}}
      </nav>
      <!-- END : SITE NAV /-->
      <!-- BEGIN : SOCIAL HEADER -->
      <div class="social-header">
        {{#each global.social}}
          <!-- BEGIN : SOCIAL HEADER ICON -->
          <a href="{{{this.url}}}" class="social-header__link" title="{{{this.title-attr}}}">
            <svg class="social-header__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#{{{this.icon}}}"></use>
            </svg>
            <span class="visually-hidden">{{{this.icon}}}</span>
          </a>
          <!-- END : SOCIAL HEADER ICON /-->
        {{/each}}
      </div>
      <!-- END : SOCIAL HEADER -->
    </div>
    <!-- END : SITE HEADER FLEX /-->
  </div>
  <!-- END : CONTAINER /-->
</header>
<!-- ******************** SITE HEADER : End ******************** /-->
