<!DOCTYPE html>
<html lang="en-GB">
<head>

  <!-- META TAGS  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1, user-scalable=yes, initial-scale=1">
  <meta name="description" content="{{#if description}}{{{description}}}{{else}}{{#if title}}{{{title}}} - {{/if}}Alex Clapperton &mdash; Front-End Developer{{/if}}">

  <!-- FAVICON -->
  <link rel="icon" type="image/ico" href="/images/favicon.ico">

  <!-- PAGE TITLE -->
  <title>
    {{#if title}}{{{title}}} &mdash; {{/if}}{{{global.name}}}
    {{#if global.jobTitle}} &mdash; {{{global.jobTitle}}}{{/if}}
  </title>

  <!-- STYLESHEET -->
  <link rel="stylesheet" href="/css/main.css">

</head>

<body class="no-js">
