<!-- BEGIN : PORTFOLIO ITEM -->
<a class="portfolio__item {{type}}" href="/portfolio/{{slug}}" title="{{title-attr}}" data-portfolio-item>
  <figure class="portfolio__figure">
    <img class="portfolio__img" src="/images/portfolio/{{src}}.jpg" alt="{{alt}}">
    <figcaption class="portfolio__caption">
      <h3 class="portfolio__title">{{title}}</h3>
      <p class="portfolio__body">{{description}}</p>
    </figcaption>
  </figure>
</a>
<!-- END : PORTFOLIO ITEM /-->
