<main class="contact 📱" id="main">
    <article class="contact__content 🖼">
        <div class="contact__inner">
            <h2 class="contact__title">Drop me a line</h2>
            <p>Got a question to ask? Then please, don't hesitate to get in touch with me. Whether it's a question rearding potential work, about my website, or if you just want to say hi.</p>
            <p>You can contact me by filling in the super simple form below:</p>
        </div>

        <form class="form" action="" method="post">
            <fieldset class="form__fieldset">
                <legend class="form__legend">Enter your name, email and your message.</legend>

                <div class="form__inner">
                    <div class="form__field">
                        <label class="form__label" id="nameLabel" for="name">Name</label>
                        <input class="form__input form__input--invalid" id="name" type="text" aria-required="true" aria-labelledby="nameLabel" aria-describedby="nameDescribe" required>
                        <small class="form__input-describe" id="nameDescribe">Your name is required</small>
                        <div class="forim_icons">
                            <svg class="form_icon form_icon--warning" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.984 14.016V9.985h-1.969v4.031h1.969zm0 3.984v-2.016h-1.969V18h1.969zm-12 3L12 2.016 23.016 21H.985z"/></svg>
                            <svg class="form_icon form_icon--check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 16.172L19.594 5.578 21 6.984l-12 12-5.578-5.578L4.828 12z"/></svg>
                        </div>
                    </div>

                    <div class="form__field">
                        <label class="form__label" id="emailLabel" for="email">Email</label>
                        <input class="form__input" id="email" type="email" aria-required="true" aria-labelledby="emailLabel" aria-describedby="emailDescribe" required>
                        <small class="form__input-describe" id="emailDescribe">Please enter a valid email address</small>
                    </div>

                    <div class="form__field">
                        <label class="form__label" id="messageLabel" for="message">Message</label>
                        <textarea class="form__textarea" name="message" rows="6" cols="80" aria-required="true" aria-labelledby="messageLabel" aria-describedby="messageDescribe" required></textarea>
                        <small class="form__input-describe" id="messageDescribe">Please enter your message</small>
                    </div>

                    <button class="form__button button button--primary" type="submit" name="button">Submit form</button>
                </div>
            </fieldset>
        </form>

        <aside class="contact__sidebar">
            <dl class="contact__list">
                <dt class="contact__list-title">Email</dt>
                <dd class="contact__list-body"><a class="link" href="mailto:{{data.global.email}}">{{data.global.email}}</a></dd>
                <dt class="contact__list-title">Phone Number</dt>
                <dd class="contact__list-body contact__list-body--📱">{{data.global.phone}}</dd>
                <dt class="contact__list-title">Social Links</dt>
                <dd class="contact__list-body">
                {{#each data.global.social}}
                    <a class="contact__list-🔗 link" href="{{url}}" title="{{title-attr}}"{{#if external}} rel="external"{{/if}}>{{title}}</a>
                    <br>
                {{/each}}
                </dd>
            </dl>
        </aside>
    </article>
</main>
