<main class="contact 📱" id="main">
    <article class="contact__content 🖼">
        <div class="contact__inner">
            <h2 class="contact__title">Drop me a line</h2>
            <p class="contact__body">Got a question to ask? Then please, don't hesitate to get in touch with me. Whether it's a question rearding potential work, about my website, or if you just want to say hi.</p>
            <p>You can contact me by filling in the super simple form below:</p>
        </div>

        <form class="form" action="" method="post" data-form>
            <fieldset class="form__fieldset">
                <legend class="form__legend">Enter your name, email and your message.</legend>

                <div class="form__inner">
                    <div class="form__field">
                        <label class="form__label" id="nameLabel" for="name">Name</label>
                        <div class="form__input-wrapper">
                            <input class="form__input" id="name" type="text" aria-required="true" aria-labelledby="nameLabel" aria-describedby="nameDescribe" required data-input>
                            <div class="input__icons" data-input-icons>
                                <svg class="input__icon input__icon--warning" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" data-input-icon-warning><path d="M10.677 1.818L.422 20.29c-.853 1.555-.491 3.042 1.815 3.042h19.525c2.311 0 2.668-1.487 1.815-3.042L13.11 1.867c-.212-.415-.52-.873-1.175-.867-.695.013-1.04.403-1.258.818zm-.027 5.913h2.4v8.4h-2.4v-8.4zm0 10.2h2.4v2.4h-2.4v-2.4z"/></svg>
                                <svg class="input__icon input__icon--check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" data-input-icon-check><path d="M8.163 23.226a1.77 1.77 0 0 1-1.265-.531L.505 16.16a1.77 1.77 0 1 1 2.53-2.476l4.953 5.061 12.827-17.04a1.77 1.77 0 1 1 2.83 2.13L9.577 22.52a1.774 1.774 0 0 1-1.415.705z"/></svg>
                            </div>
                        </div>
                        <small class="form__validation-message" id="nameDescribe" data-validation>Your name is required</small>
                    </div>

                    <div class="form__field">
                        <label class="form__label" id="emailLabel" for="email">Email</label>
                        <div class="form__input-wrapper">
                            <input class="form__input" id="email" type="email" aria-required="true" aria-labelledby="emailLabel" aria-describedby="emailDescribe" required data-input>
                            <div class="input__icons" data-input-icons>
                                <svg class="input__icon input__icon--warning" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" data-input-icon-warning><path d="M10.677 1.818L.422 20.29c-.853 1.555-.491 3.042 1.815 3.042h19.525c2.311 0 2.668-1.487 1.815-3.042L13.11 1.867c-.212-.415-.52-.873-1.175-.867-.695.013-1.04.403-1.258.818zm-.027 5.913h2.4v8.4h-2.4v-8.4zm0 10.2h2.4v2.4h-2.4v-2.4z"/></svg>
                                <svg class="input__icon input__icon--check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" data-input-icon-check><path d="M8.163 23.226a1.77 1.77 0 0 1-1.265-.531L.505 16.16a1.77 1.77 0 1 1 2.53-2.476l4.953 5.061 12.827-17.04a1.77 1.77 0 1 1 2.83 2.13L9.577 22.52a1.774 1.774 0 0 1-1.415.705z"/></svg>
                            </div>
                        </div>
                        <small class="form__validation-message" id="emailDescribe" data-validation>Please enter a valid email address</small>
                    </div>

                    <div class="form__field">
                        <label class="form__label" id="messageLabel" for="message">Message</label>
                        <textarea class="form__textarea" name="message" rows="6" cols="80" aria-required="true" aria-labelledby="messageLabel" aria-describedby="messageDescribe" required data-textarea></textarea>
                        <small class="form__validation-message" id="messageDescribe" data-validation>Please enter your message</small>
                    </div>

                    <button class="form__button button button--primary" type="submit" name="button">Submit form</button>
                </div>
            </fieldset>
        </form>

        <aside class="contact__sidebar">
            <dl class="contact__list">
                <dt class="contact__list-title">Email</dt>
                <dd class="contact__list-body"><a class="link" href="mailto:{{data.global.email}}">{{data.global.email}}</a></dd>
                <dt class="contact__list-title">Phone Number</dt>
                <dd class="contact__list-body contact__list-body--📱">{{data.global.phone}}</dd>
                <dt class="contact__list-title">Social Links</dt>
                <dd class="contact__list-body">
                {{#each data.global.social}}
                    <a class="contact__list-🔗 link" href="{{url}}" title="{{title-attr}}"{{#if external}} rel="external"{{/if}}>{{title}}</a>
                    <br>
                {{/each}}
                </dd>
            </dl>
        </aside>
    </article>
</main>
