        <footer class="footer notch" id="footer">
            <div class="footer__container hide" data-fade>
                <div class="footer__content">
                    <ul class="footer__list">
                        <li class="footer__list-item footer__list-item--title">Useful links</li>

                    {{#each settings.navigation}}
                        <li class="footer__list-item"><a class="footer__list-link" href="{{this.url}}" title="{{this.title-attr}}" data-item-{{this.slug}}>{{title}}</a></li>
                    {{/each}}
                    </ul>
                    <ul class="footer__list">
                        <li class="footer__list-item footer__list-item--title">Send me an email</li>
                        <li class="footer__list-item"><a class="footer__list-link" href="mailto:{{settings.email}}">{{settings.email}}</a></li>
                    </ul>
                    <ul class="footer__list">
                        <li class="footer__list-item footer__list-item--title">Let's have a chat</li>
                        <li class="footer__list-item footer__list-item--phone">{{settings.phone}}</li>
                    </ul>
                    <ul class="footer__list">
                        <li class="footer__list-item footer__list-item--title">Let's be social</li>
                    {{#each settings.social}}
                        <li class="footer__list-item footer__list-item--social"><a class="footer__list-link" href="{{this.url}}" title="{{this.title-attr}}" {{#if this.external}}rel="external"{{/if}}>{{this.title}}</a></li>
                    {{/each}}
                    </ul>
                </div>

                <small class="footer__body">Copyright &copy; 2020 {{settings.name}}. All rights reserved.</small>
            </div>
        </footer>
    </body>
</html>
