<div class="portfolio__item" data-portfolio-item>
    <a class="portfolio__title" href="/portfolio/{{slug}}/" title="{{projectData.title-attr}}">{{projectName}}</a>
    <figure class="portfolio__figure">
        <picture class="portfolio__picture {{#if projectData.isFeaturedImageSquare}}portfolio__picture--square{{/if}}">
            <source type="image/webp" data-srcset="{{featuredImage.fields.file.url}}?fm=webp">

            <img class="portfolio__image lazyload__image lazyload" data-src="{{featuredImage.fields.file.url}}" alt="{{featuredImage.fields.description}}" data-lazy>

            <noscript>
                <source type="image/webp" srcset="{{featuredImage.fields.file.url}}fm=webp">
                <img class="portfolio__image" src="{{featuredImage.fields.file.url}}" alt="{{featuredImage.fields.description}}">
            </noscript>
        </pciture>

        <figcaption class="portfolio__caption">
            <p class="portfolio__caption-title">{{projectName}}</p>
            <p class="portfolio__caption-body">
            {{#each tags}}
              <span class="portfolio__caption-tags">{{this}}</span>
            {{/each}}
            </p>
            <p class="portfolio__caption-category">{{category}}</p>
        </figcaption>
    </figure>
</div>
