---
page: contact
layout: default.hbs
title: Contact
description: Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 1.0
---


<!-- ******************** BAR : Start ******************** -->
<section class="bar">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BAR CONTENT -->
    <div class="bar__content">
      <h1 class="bar__title">Contact</h1>
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/" title="Breadcrumb link to the homepage.">Home</a></li>
        <li class="breadcrumbs__item">Contact</li>
      </ul>
      <!-- BEGIN : SYMBOL -->
      <div class="symbol symbol--primary">
        <svg class="symbol__icon symbol__icon--primary" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#contact"></use>
        </svg>
      </div>
      <!-- END : SYMBOL /-->
    </div>
    <!-- END : BAR CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BAR : End ******************** /-->


<!-- ******************** SOCIAL : Start ******************** -->
<section class="social">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : SOCIAL CONTENT -->
    <div class="social__content">
      {{#each_upto global.social 3}}
      <!-- BEGIN : SOCIAL ITEM -->
      <a class="social__item" href="{{url}}" title="{{title-attr}}" {{#if external}}rel="external"{{/if}}>
        <!-- BEGIN : SOCIAL BLOCK -->
        <div class="social__block">
          <!-- BEGIN : SOCIAL BODY -->
          <div class="social__body">
            <svg class="social__icon" width="20" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#{{icon}}"></use>
            </svg>
          </div>
          <!-- END : SOCIAL BODY /-->
        </div>
        <!-- END : SOCIAL BLOCK /-->
        <!-- BEGIN : SOCIAL INFO -->
        <div class="social__info">
          <h2 class="social__title">{{title}}</h2>
          <span class="social__link">{{handle}}</span>
        </div>
        <!-- END : SOCIAL INFO /-->
      </a>
      <!-- END : SOCIAL ITEM /-->
      {{/each_upto}}
    </div>
    <!-- END : SOCIAL CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** SOCIAL : End ******************** /-->


<!-- ******************** ABOUT : Start ******************** -->
<main class="contact" role="main" id="content">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : CONTACT CONTENT -->
    <div class="contact__content">
      <!-- BEGIN : CONTACT FORM -->
      <div class="contact__form">
        <h3 class="contact__title">Try out the form</h3>
        <p class="contact__body">Got a question to ask? Then please, don’t hesitate to get in touch with me by using the super simple form below.</p>
        <!-- BEGIN : FORM -->
        <form class="form" action="" method="post" data-form>
          <!-- BEGIN : FORM FIELDSET -->
          <fieldset class="form__fieldset">
            <legend>Enter your name, email, subject (optional) and your message.</legend>
            <!-- BEGIN : FORM CONTENT -->
            <div class="form__content">
              <!-- BEGIN : FORM ITEM -->
              <div class="form__item" data-form-item>
                <label class="form__label" for="name">Name <span class="form__label--required">*</span></label>
                <input class="form__input" type="text" name="name" id="name" data-input-field required aria-required="true" title="Please type in your name" pattern="^[a-zA-Z \-']+$">
                <small class="form__validation" data-form-validation></small>
              </div>
              <!-- END : FORM ITEM /-->
              <!-- BEGIN : FORM ITEM -->
              <div class="form__item" data-form-item>
                <label class="form__label" for="email">Email <span class="form__label--required">*</span></label>
                <input class="form__input" type="email" name="email" id="email" data-input-field required aria-required="true" title="Please enter a valid email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <small class="form__validation" data-form-validation></small>
              </div>
              <!-- END : FORM ITEM /-->
              <!-- BEGIN : FORM ITEM -->
              <div class="form__item">
                <label class="form__label" for="subject">Subject (optional)</label>
                <input class="form__input" type="text" name="subject" id="subject">
              </div>
              <!-- END : FORM ITEM /-->
              <!-- BEGIN : FORM ITEM -->
              <div class="form__item form__item--textarea">
                <label class="form__label" for="message">Your Message <span class="form__label--required">*</span></label>
                <textarea class="form__textarea" name="message" rows="12" cols="80" id="message" data-textarea-field required title="Please fill in the message field"></textarea>
                <small class="form__validation" data-form-validation></small>
              </div>
              <!-- END : FORM ITEM /-->
              <button class="form__btn btn" type="submit" name="submit" data-form-submit>
                <span class="btn__body btn__body--primary">Submit</span>
              </button>
            </div>
            <!-- END : FORM CONTENT /-->
          </fieldset>
          <!-- END : FORM FIELDSET /-->
        </form>
        <!-- END : FORM /-->
      </div>
      <!-- END : CONTACT FORM /-->
      <!-- BEGIN : CONTACT DETAILS -->
      <div class="contact__details">
        <h3 class="contact__title">Not a fan of forms?</h3>
        <p class="contact__body">If you don't like to fill in forms just use one of the following alternate methods below.</p>
      </div>
      <!-- END : CONTACT DETAILS /-->
    </div>
    <!-- END : CONTACT CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** ABOUT : End ******************** /-->


<!-- ******************** BAR : Start ******************** -->
<section class="bar">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BAR CONTENT -->
    <div class="bar__content">
      <h2 class="bar__title">Read my recent blog posts</h2>
      <!-- BEGIN : SYMBOL -->
      <div class="symbol symbol--primary">
        <svg class="symbol__icon symbol__icon--primary" width="20" height="20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#blog"></use>
        </svg>
      </div>
      <!-- END : SYMBOL /-->
    </div>
    <!-- END : BAR CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** BAR : End ******************** /-->


<!-- ******************** PORTFOLIO : Start ******************** -->
<section class="blog">
  <!-- BEGIN : CONTAINER -->
  <div class="container">
    <!-- BEGIN : BLOG CONTENT -->
    <div class="blog__content">
      {{#each_upto articles.[2017] 3}}
        {{>article}}
      {{/each_upto}}
      {{#each_upto articles.[2016] 1}}
        {{>article}}
      {{/each_upto}}
    </div>
    <!-- END : BLOG CONTENT /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** PORTFOLIO : End ******************** /-->
