---
page: contact
layout: default.hbs
title: Contact | Alex Clapperton
description: Contact Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 0.9
---

<!-- ******************** SITE BANNER : Start ********************-->
<section class="site-banner site-banner--small">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BANNER FLEX -->
    <div class="site-banner__flex">
      <h1 class="site-banner__title">Got a question? <br> Get in touch</h1>

      <div class="breadcrumbs">
        <span class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Home</a></span>
        <span class="breadcrumbs__item">Contact</span>
      </div>

      <img class="site-banner__img" src="/images/banner/contact-frame.png" alt="" />
    </div>
    <!-- END : SITE BANNER FLEX -->
  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** SITE BANNER : End ******************** /-->


<!-- ******************** SITE CONTACT : Start ******************** -->
<main class="site-contact" id="content" role="main">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : SITE CONTACT FLEX -->
    <div class="site-contact__flex">
      <!-- BEGIN : SITE CONTACT FLEX ITEM -->
      <div class="site-contact__item">
        <h2 class="site-contact__title">Ye olde form...</h2>
        <p>
          Got a question to ask? Then please, don't hesitate to get in touch with me by using the super simple form below.
        </p>
        <!-- BEGIN : SITE CONTACT FORM -->
        <form class="site-contact__form" action="javascript:void(0)" method="post">

          <label class="site-contact__label" for="name">Name *</label>
          <input class="site-contact__input" id="name" type="text" name="name" required="">

          <label class="site-contact__label" for="email">Email *</label>
          <input class="site-contact__input" id="email" type="email" name="email" required="">

          <label class="site-contact__label" for="message">Message *</label>
          <textarea class="site-contact__textarea" id="message" name="message" rows="6" cols="50" required=""></textarea>

          <button class="btn-primary btn-primary--blue btn-primary--contact" type="submit">
            <span class="btn-primary__text">Ship Ahoy!</span>
            <svg class="btn-primary__icon  btn-primary__icon--white">
              <title>Front facing ship icon</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#ship"></use>
            </svg>
          </button>

          <span class="site-contact__loading  site-contact__loading--hide">Loading...</span>
          <div class="site-contact__message"></div>
        </form>
        <!-- END : SITE CONTACT FORM /-->
      </div>
      <!-- END : SITE CONTACT FLEX ITEM /-->
      <!-- BEGIN : SITE CONTACT FLEX ITEM -->
      <div class="site-contact__item">
        <h2>Don't fancy the form?</h2>
        <p>
          If you don't like to fill in forms but still want to contact me, then you're in luck, just use one of the following alternate methods below.
        </p>
        <!-- BEGIN : SITE CONTACT DETAILS -->
        <div class="site-contact__details">
          <!-- BEGIN : SITE CONTACT DETAILS ICON WRAPPER -->
          <div class="site-contact__details-icon-wrapper">
            <svg class="site-contact__details-icon">
              <title>Mobile phone icon</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#mobile"></use>
            </svg>
          </div>
          <!-- END : SITE CONTACT DETAILS ICON WRAPPER /-->
          <span class="site-contact__details-text">{{{global.phone}}}</span>
        </div>
        <!-- END : SITE CONTACT DETAILS -->
        <!-- BEGIN : SITE CONTACT DETAILS -->
        <div class="site-contact__details">
          <!-- BEGIN : SITE CONTACT DETAILS ICON WRAPPER -->
          <div class="site-contact__details-icon-wrapper">
            <svg class="site-contact__details-icon">
              <title>Mail icon</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#mail"></use>
            </svg>
          </div>
          <!-- END : SITE CONTACT DETAILS ICON WRAPPER /-->
          <a class="site-contact__details-text" href="mailto:alex@alexclapperton.co.uk">{{{global.email}}}</a>
        </div>
        <!-- END : SITE CONTACT DETAILS /-->
        <!-- BEGIN : SITE CONTACT DETAILS -->
        <div class="site-contact__details">
          <!-- BEGIN : SITE CONTACT DETAILS ICON WRAPPER -->
          <div class="site-contact__details-icon-wrapper">
            <svg class="site-contact__details-icon">
              <title>Facebook icon</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#facebook"></use>
            </svg>
          </div>
          <!-- END : SITE CONTACT DETAILS ICON WRAPPER /-->
          <a class="site-contact__details-text" href="https://www.facebook.com/AlexMClapperton" title="External link to Alex's Facebook profile.">{{{global.facebookName}}}</a>
        </div>
        <!-- END : SITE CONTACT DETAILS /-->
        <!-- BEGIN : SITE CONTACT DETAILS -->
        <div class="site-contact__details">
          <!-- BEGIN : SITE CONTACT DETAILS ICON WRAPPER -->
          <div class="site-contact__details-icon-wrapper">
            <svg class="site-contact__details-icon">
              <title>Twitter icon</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#twitter"></use>
            </svg>
          </div>
          <!-- END : SITE CONTACT DETAILS ICON WRAPPER -->
          <a class="site-contact__details-text" href="https://twitter.com/AlexMClapperton" title="External link to Alex's Twitter profile.">{{{global.twitterHandle}}}</a>
        </div>
        <!-- END : SITE CONTACT DETAILS /-->
        <!-- BEGIN : SITE CONTACT DETAILS -->
        <div class="site-contact__details">
          <!-- BEGIN : SITE CONTACT DETAILS ICON WRAPPER -->
          <div class="site-contact__details-icon-wrapper">
            <svg class="site-contact__details-icon">
              <title>LinkedIn icon</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#linkedin"></use>
            </svg>
          </div>
          <!-- END : SITE CONTACT DETAILS ICON WRAPPER /-->
          <a class="site-contact__details-text" href="https://uk.linkedin.com/in/alexclapperton" title="External link to Alex's LinkedIn profile.">{{{global.linkedinName}}}</a>
        </div>
        <!-- END : SITE CONTACT DETAILS /-->
      </div>
      <!-- END : SITE CONTACT FLEX ITEM /-->
    </div>
    <!-- END : SITE CONTACT FLEX /-->
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** SITE CONTACT : End ******************** /-->


<!-- ******************** SITE BLOG : Start ******************** /-->
<section class="site-blog">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BLOG FLEX -->
    <div class="site-blog__flex">
      {{#each articles.[2016]}}
        <!-- BEGIN : SITE BLOG ITEM -->
        {{>article-section}}
        <!-- END : SITE BLOG ITEM /-->
      {{/each}}
    </div>
    <!-- END : SITE BLOG FLEX /-->
  </div>
  <!-- END : CONTAINER /-->
</section>
<!-- ******************** SITE BLOG : End /******************** /-->
