---
page: home
layout: default.hbs
title: Homepage
description: Alex Clapperton &mdash; Manchester, UK based front-end developer
changefreq: monthly
priority: 1.0
---

<!-- ******************** SITE BANNER : Start ******************** /-->
<section class="site-banner site-banner--large">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : GRID GUIDES -->
    <div class="grid-guides">
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
      <div class="grid-guides__guide"></div>
    </div>
    <!-- END : GRID GUIDES /-->
    <!-- BEGIN : SITE BANNER FLEX -->
    <div class="site-banner__flex">
      <div class="site-banner__content">
        <h1 class="site-banner__title">Hello! <br> My name is <br> {{{global.name}}}</h1>
        <p class="site-banner__text">
          I am a <b>Manchester</b> based Junior/Freelance <b>{{{global.jobTitle}}}</b> and a final year University student.
        </p>
      </div>
    </div>
    <!-- END : SITE BANNER FLEX -->
  </div>
  <!-- END : CONTAINER -->
</section>
<!-- ******************** SITE BANNER : End /******************** /-->


<!-- ******************** SITE SECTION : Start ******************** /-->
<main class="site-main" id="content" role="main">
  <!-- BEGIN : CONTAINER -->
  <div class="site-container">
    <!-- BEGIN : SITE SECTION FLEX -->
    <div class="site-main__flex">
      <!-- BEGIN : SITE SECTION FLEX ITEM -->
      <div class="site-main__item">
        <h2>Who am I?</h2>
        <p>
          I have had a passion for Web Development since 2012 where I started my own little <b>Wordpress</b> site where I blogged about my love for <b>Apple</b> products. It was there I found an interest into how websites were made and decided to head to the <b><a href="#" title="External link to the {{{global.university}}} website.">{{{global.university}}}</a></b> to expand my knowledge of Web Development further.
        </p>
        <p>
          I thrive off learning new skills, being challenged daily and having to prove myself under pressure and being part of such young and dynamic industry is the perfect motivation for me to keep improving myself both professionally and personally.
        </p>
        <a class="btn-primary btn-primary--pink btn-primary__flex" href="#">
          <span class="btn-primary__text">Download My CV</span>
          <svg class="btn-primary__icon  btn-primary__icon--white">
            <title>Download icon</title>
            <use xlink:href="images/icons/sprite.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
      </div>
      <!-- END : SITE SECTION FLEX ITEM /-->
      <!-- BEGIN : SITE SECTION FLEX ITEM -->
      <div class="site-main__item">
        <h2>My future</h2>
        <p>
          Currently I work part-time as a Front-End Developer for a small creative agency known as <b><a href="#" title="External link to the {{{global.employer}}} website.">{{{global.employer}}}</a></b>, based in Manchester. My main focus currently is to get the best degree possible at university and expanding on my level of skills. When I finally do graduate I will be heading down the path of Front End Development as this is the area I am most passionate about.
        </p>
        <p>
          Further down the line, I would like to be able to gain the courage to do a talk at a conference or meet up as I feel I will be giving something back to this great industry I am in. I would also like to be able to become a full-time freelance developer once I have gained enough experience within the industry.
        </p>
      </div>
      <!-- END : SITE SECTION FLEX ITEM /-->
    </div>
    <!-- END : SITE SECTION FLEX /-->
  </div>
  <!-- END : CONTAINER /-->
</main>
<!-- ******************** SITE SECTION : End /******************** /-->
