<!-- BEGIN : ARTICLES ITEM -->
<div class="articles__item">
    <div class="article__content">
        <!-- BEGIN : ARTICLES THUMBNAIL -->
        <picture class="articles__picture">
            <source type="image/webp" data-srcset="https:{{featuredImage.fields.file.url}}?fm=webp">
            <img class="articles__image lazyload__image lazyload" data-src="https:{{featuredImage.fields.file.url}}" alt="{{articleData.alt}}" data-lazy>

            <noscript>
                <source type="image/webp" srcset="https:{{featuredImage.fields.file.url}}?fm=webp">
                <img class="articles__image" src="https:{{featuredImage.fields.file.url}}" alt="{{articleData.alt}}">
            </noscript>
        </picture>
        <!-- END : ARTICLES THUMBNAIL /-->
        <!-- BEGIN : ARTICLES DETAILS -->
        <div class="articles__details">
            <a class="articles__heading" href="/articles/{{slug}}/" title="{{articleData.title-attr}}" {{#if articleData.external}} rel="external"{{/if}}>{{articleName}}</a>
            <p class="articles__body">{{articleDescription}}</p>
        </div>
        <!-- END : ARTICLES DETAILS /-->
    </div>
</div>
<!-- END : ARTICLES ITEM /-->
