<section class="devices notch">
    <div class="devices__inner container">
        <div class="devices__item hide" data-fade>
            <div class="devices__item-inner">
                <svg class="devices__frame" xmlns="http://www.w3.org/2000/svg" width="427" height="864" viewBox="0 0 427 864"><path fill="#0e0d0d" d="M318 33v1c0 12.15-9.85 22-22 22H131c-12.15 0-22-9.85-22-22v-1c-.21-2.21-.877-3.877-2-5-1.123-1.123-2.79-1.79-5-2h223c-2.21.21-3.877.877-5 2-1.123 1.123-1.79 2.79-2 5zM64 0h299c35.346 0 64 28.654 64 64v736c0 35.346-28.654 64-64 64H64c-35.346 0-64-28.654-64-64V64C0 28.654 28.654 0 64 0zm2 26c-22.091 0-40 17.909-40 40v732c0 22.091 17.909 40 40 40h295c22.091 0 40-17.909 40-40V66c0-22.091-17.909-40-40-40H66z"/><rect width="52" height="8" x="187" y="31" fill="#000000" rx="4"/><path fill="#000000" d="M254 35a6 6 0 1 0 12 0 6 6 0 1 0-12 0"/></svg>
                <div class="devices__image-wrapper lazyload">
                    <img class="devices__image lazyload__image lazyload__image--lazy" data-src="/images/portfolio/{{slug}}/screens/{{projectData.deviceOneSrc}}.jpg" alt="{{projectData.deviceOneAlt}}" data-lazy>
                </div>

                <noscript>
                    <div class="devices__image-wrapper">
                        <img class="devices__image" src="/images/portfolio/{{slug}}/screens/{{projectData.deviceOneSrc}}.jpg" alt="{{projectData.deviceOneAlt}}">
                    </div>
                </noscript>
            </div>
        </div>

        <div class="devices__item hide" data-fade data-fade-delay="0.4s">
            <div class="devices__item-inner">
                <svg class="devices__frame" xmlns="http://www.w3.org/2000/svg" width="427" height="864" viewBox="0 0 427 864"><path fill="#0e0d0d" d="M318 33v1c0 12.15-9.85 22-22 22H131c-12.15 0-22-9.85-22-22v-1c-.21-2.21-.877-3.877-2-5-1.123-1.123-2.79-1.79-5-2h223c-2.21.21-3.877.877-5 2-1.123 1.123-1.79 2.79-2 5zM64 0h299c35.346 0 64 28.654 64 64v736c0 35.346-28.654 64-64 64H64c-35.346 0-64-28.654-64-64V64C0 28.654 28.654 0 64 0zm2 26c-22.091 0-40 17.909-40 40v732c0 22.091 17.909 40 40 40h295c22.091 0 40-17.909 40-40V66c0-22.091-17.909-40-40-40H66z"/><rect width="52" height="8" x="187" y="31" fill="#000000" rx="4"/><path fill="#000000" d="M254 35a6 6 0 1 0 12 0 6 6 0 1 0-12 0"/></svg>
                <div class="devices__image-wrapper lazyload">
                    <img class="devices__image lazyload__image lazyload__image--lazy" data-src="/images/portfolio/{{slug}}/screens/{{projectData.deviceTwoSrc}}.jpg" alt="{{projectData.deviceTwoAlt}}" data-lazy>
                </div>

                <noscript>
                    <div class="devices__image-wrapper">
                        <img class="devices__image" src="/images/portfolio/{{slug}}/screens/{{projectData.deviceTwoSrc}}.jpg" alt="{{projectData.deviceTwoAlt}}">
                    </div>
                </noscript>
            </div>
        </div>

        <div class="devices__item hide" data-fade data-fade-delay="0.8s">
            <div class="devices__item-inner">
                <svg class="devices__frame" xmlns="http://www.w3.org/2000/svg" width="427" height="864" viewBox="0 0 427 864"><path fill="#0e0d0d" d="M318 33v1c0 12.15-9.85 22-22 22H131c-12.15 0-22-9.85-22-22v-1c-.21-2.21-.877-3.877-2-5-1.123-1.123-2.79-1.79-5-2h223c-2.21.21-3.877.877-5 2-1.123 1.123-1.79 2.79-2 5zM64 0h299c35.346 0 64 28.654 64 64v736c0 35.346-28.654 64-64 64H64c-35.346 0-64-28.654-64-64V64C0 28.654 28.654 0 64 0zm2 26c-22.091 0-40 17.909-40 40v732c0 22.091 17.909 40 40 40h295c22.091 0 40-17.909 40-40V66c0-22.091-17.909-40-40-40H66z"/><rect width="52" height="8" x="187" y="31" fill="#000000" rx="4"/><path fill="#000000" d="M254 35a6 6 0 1 0 12 0 6 6 0 1 0-12 0"/></svg>
                <div class="devices__image-wrapper lazyload">
                    <img class="devices__image lazyload__image lazyload__image--lazy" data-src="/images/portfolio/{{slug}}/screens/{{projectData.deviceThreeSrc}}.jpg" alt="{{projectData.deviceThreeAlt}}" data-lazy>
                </div>

                <noscript>
                    <div class="devices__image-wrapper">
                        <img class="devices__image" src="/images/portfolio/{{slug}}/screens/{{projectData.deviceThreeSrc}}.jpg" alt="{{projectData.deviceThreeAlt}}">
                    </div>
                </noscript>
            </div>
        </div>
    </div>
</section>
