<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <!-- META TAGS  -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, user-scalable=yes, initial-scale=1, viewport-fit=cover">
        <meta name="description" content="{{#if description}}{{{description}}}{{else}}{{#if title}}{{{title}}}{{/if}}{{#unless home}} &mdash; Alex Clapperton{{/unless}} &mdash; Front-End Web Developer{{/if}}">
        {{#if nofollow}}
        <meta name="robots" content="noindex, nofollow">
        {{/if}}

        <!-- PAGE TITLE -->
        <title>
            {{#if title}}{{{title}}}{{/if}}{{#unless home}} &mdash; {{{data.global.name}}}{{/unless}}
            {{#if data.global.jobTitle}} &mdash; {{{data.global.jobTitle}}}{{/if}}
        </title>

        <!-- PRELOAD FILES -->
        <link rel="preload" href="/css/main.css" as="style">
        <link rel="preload" href="/fonts/ubuntu/ubuntu-regular.woff" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="/fonts/ubuntu/ubuntu-medium.woff" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="/fonts/nunito-sans/nunito-sans-regular.woff" as="font" type="font/woff" media="(min-width: 62em)" crossorigin>
        <link rel="preload" href="/fonts/nunito-sans/nunito-sans-semi-bold.woff" as="font" type="font/woff" media="(min-width: 62em)" crossorigin>

        <!-- STYLESHEET -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- SITEMAP -->
        <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

        <!-- MANIFEST -->
        <link rel="manifest" href="/site.webmanifest">

        <link rel="alternate" href="{{{data.global.url}}}" hreflang="en-gb">
        <link rel="canonical" href="{{{data.global.url}}}{{#if article.date}}/articles{{/if}}{{#if article.slug}}/{{{article.slug}}}{{/if}}">

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                {{#if article.date}}
                    "@type": "NewsArticle",
                    "author": {{{data.global.name}}}
                    "publisher": {{{data.global.name}}}
                    "headline": "{{{title}}}",
                    "datePublished": "{{{article.date}}}",
                    "dateModified":  "{{{article.date}}}",
                    "mainEntityOfPage": "{{{data.global.url}}}{{#if article.date}}/articles{{/if}}{{#if article.slug}}/{{{article.slug}}}{{/if}}",
                {{else}}
                    "@type": "Person",
                    "name": "{{{data.global.name}}}",
                {{/if}}
                    "url": "{{{data.global.url}}}{{#if article.date}}/articles{{/if}}{{#if article.slug}}/{{{article.slug}}}{{/if}}",
                    "image" : "{{#if ogImage}}{{{ogImage}}}{{else}}{{{data.global.url}}}/images/profile/alex-clapperton.jpg{{/if}}",
                {{#unless article.date}}
                    "sameAs" : [
                        "{{{data.global.twitterHandle}}}",
                        "{{{data.global.linkedinName}}}",
                        "{{{data.global.githubRepo}}}"
                    ]
                {{/unless}}
            }
        </script>

        <!-- FACEBOOK -->
        <meta property="og:title" content="{{#if title}}{{{title}}} &mdash; {{/if}}{{{data.global.name}}}{{#if data.global.jobTitle}} &mdash; {{{data.global.jobTitle}}}{{/if}}" />
        <meta property="og:type" content="{{#if article.date}}article{{else}}website{{/if}}" />
        <meta property="og:url" content="{{{data.global.url}}}{{#if article.date}}/articles{{/if}}{{#if article.slug}}/{{{article.slug}}}{{/if}}" />
        <meta property="og:image" content="{{{data.global.url}}}{{#if ogImage}}{{{ogImage}}}{{else}}/images/profile/alex-clapperton.jpg{{/if}}" />
        <meta property="og:description" content="{{#if summary}}{{{summary}}}{{else}}{{{data.global.name}}} &mdash; blog{{/if}}">
        <meta property="og:locale" content="en_GB">
        <meta property="article:author" content="{{{data.global.name}}}">
        <meta property="og:site_name" content="{{{data.global.name}}} &mdash; Articles">

        <!-- TWITTER -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{{data.global.twitterHandle}}}">
        <meta name="twitter:creator" content="{{{data.global.twitterHandle}}}">
        <meta name="twitter:url" content="{{{data.global.url}}}{{#if article.date}}/articles{{/if}}{{#if article.slug}}/{{{article.slug}}}{{/if}}">
        <meta name="twitter:title" content="{{#if title}}{{{title}}} &mdash; {{/if}}{{{data.global.name}}}{{#if data.global.jobTitle}} &mdash; {{{data.global.jobTitle}}}{{/if}}">
        <meta name="twitter:description" content="{{#if summary}}{{{summary}}}{{else}}{{{data.global.name}}} &mdash; Articles{{/if}}">
        <meta name="twitter:image" content="{{{data.global.url}}}{{#if ogImage}}{{{ogImage}}}{{else}}/images/profile/alex-clapperton.jpg{{/if}}">

        <!-- FAVICONS -->
        <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="144x144" href="/favicons/favicon-144x144.png">
        <link rel="icon" type="image/png" sizes="256x256" href="/favicons/favicon-256x256.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon.png">
        <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#6622cc">
        <meta name="theme-color" content="#6622cc">

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="/js/vendor.bundle.js" defer></script>
        <script type="text/javascript" src="/js/common.bundle.js" defer></script>
    </head>

    <body id="top">

    <!-- JAVASCRIPT ALERT -->
    <noscript>
        <div class="support-notice support-notice--javascript">
          <p>You currently have JavaScript in your browser turned off, so some features of this site may not work fully.</p>
          <p>Find out <a href="http://enable-javascript.com" rel="external" target="_blank">how to turn JavaScript on</a>.</p>
        </div>
    </noscript>
