<!-- BEGIN : PORTFOLIO ITEM -->
<a class="portfolio__item {{#if picture}}portfolio__item--large{{/if}}" href="/portfolio/{{slug}}" title="{{title-attr}}" data-portfolio-item>
    <figure class="portfolio__figure">
        <div class="portfolio__image-wrapper {{#unless picture}}lazyload{{/unless}}">
        {{#if picture}}
            <picture class="lazyload">
                <source media="(max-width: 50em)" data-srcset="/images/portfolio/{{src-mobile}}.jpg">
                <img class="portfolio__📷 lazyload__image lazyload__image--lazy" data-src="/images/portfolio/{{src-desktop}}.jpg" alt="{{alt}}" data-lazy>

                <noscript>
                    <source media="(max-width: 50em)" srcset="/images/portfolio/{{src-mobile}}.jpg">
                    <img class="portfolio__📷" src="/images/portfolio/{{src-desktop}}.jpg" alt="{{alt}}">
                </noscript>
            </picture>
        {{else}}
            <img class="portfolio__📷 lazyload__image lazyload__image--lazy" data-src="/images/portfolio/{{src}}.jpg" alt="{{alt}}" data-lazy>

            <noscript>
                <img class="portfolio__📷" src="/images/portfolio/{{src}}.jpg" alt="{{alt}}">
            </noscript>
        {{/if}}
        </div>
        <figcaption class="portfolio__caption">
            <p class="portfolio__caption-title">{{title}}</p>
            <p class="portfolio__caption-body">{{description}}</p>
            <p class="portfolio__caption-category">{{category}}</p>
        </figcaption>
    </figure>
</a>
<!-- END : PORTFOLIO ITEM /-->
