{{>head}}

{{>header}}

<div itemscope itemtype="http://schema.org/BlogPosting">
  <!-- ******************** HERO : Start ********************-->
  <section class="hero" style="background-image: url(/images/blog/featured/{{hero}}.jpg);">
    <!-- BEGIN : CONTAINER -->
    <div class="container">
      <!-- BEGIN : HERO CONTENT -->
      <div class="hero__content">
        <h1 class="hero__title">{{title}}
          {{#if subtitle}}
          <br>
          {{subtitle}}
          {{/if}}
        </h1>
      </div>
      <!-- END : HERO CONTENT /-->
    </div>
    <!-- END : CONTAINER /-->
  </section>
  <!-- ******************** HERO : End ******************** /-->


  <!-- ******************** POST : Start ******************** -->
  <main class="post" role="main">
    <!-- BEGIN : CONTAINER -->
    <div class="container">
      <!-- BEGIN : POST CONTENT -->
      <div class="post__content">
        <!-- BEGIN : POST ARTICLE -->
        <article class="post__article">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item breadcrumbs__item--dark"><a class="breadcrumbs__link" href="/" title="Breadcrumb link to the homepage.">Home</a></li>
            <li class="breadcrumbs__item breadcrumbs__item--dark"><a class="breadcrumbs__link" href="/blog">Blog</a></li>
            <li class="breadcrumbs__item breadcrumbs__item--dark">{{title}}</li>
          </ul>

          <hr>

          <!-- BEGIN : POST DETAILS -->
          <div class="post__details">
            <span class="post__date">Posted on <strong><time datetime="{{{dateTime}}}">{{pubDate}}</time></strong></span>
            <span class="post__category">Category: <strong>{{{category}}}</strong></span>
          </div>
          <!-- END : POST DETAILS /-->
          {{{contents}}}
        </article>
        <!-- END : POST ARTICLE -->
        <!-- BEGIN : POST ASIDE -->
        <aside class="post__aside">
          <h4 class="post__subtitle">Share this post</h4>
          <a class="share" href="https://twitter.com/intent/tweet?text={{{title}}}&amp;url={{{global.url}}}/blog/{{{slug}}}&amp;via=AlexMClapperton" target="_blank" rel="external" title="External link to Twitter share post." data-ga-category="Post share - Twitter" data-ga-action="click" data-ga-label="{{{title}}}">
            <span class="visually-hidden">Twitter</span>
            <svg class="share__icon share__icon--twitter" width="24" height="24">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a class="share" href="https://www.linkedin.com/shareArticle?mini=true&url={{{global.url}}}/blog/{{{slug}}}&amp;title={{{title}}}&amp;source={{{global.url}}}/blog/" target="_blank" rel="external" title="External link to LinkedIn share article." data-ga-category="Post share - LinkedIn" data-ga-action="click" data-ga-label="{{{title}}}">
            <span class="visually-hidden">LinkedIn</span>
            <svg class="share__icon share__icon--linkedin" width="24" height="24">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/sprite.svg#linkedin-BG"></use>
            </svg>
          </a>
          <h4 class="post__subtitle">Comment on this post</h4>
          <div id="disqus_thread" class="disqus-thread"></div>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </aside>
        <!-- END : POST ASIDE /-->
      </div>
      <!-- END : POST CONTENT /-->
    </div>
    <!-- END : CONTAINER /-->
  </main>
  <!-- ******************** POST : End ******************** /-->
</div>

{{>footer}}

{{>foot}}
