---
title: Contact
home: false
about: false
layout: _layouts/default
---

<main class="contact notch" id="main">
    <article class="contact__container">
        <div class="contact__inner">
            <h2 class="contact__heading">Drop me a line</h2>
            <p class="contact__body">Got a question to ask? Then please, don't hesitate to get in touch with me. Whether it's a question regarding potential work, about my website, or if you just want to say hi.</p>
            <p>You can contact me by filling in the super simple form below:</p>
        </div>

        <form class="form" name="contact" method="post" netlify data-form>
            <fieldset class="form__fieldset">
                <legend class="form__legend">Enter your name, email and your message.</legend>

                <div class="form__inner">
                    <div class="form__field">
                        <label class="form__label" id="nameLabel" for="name">Name</label>
                        <input class="form__input" id="name" type="text" name="name" aria-required="true" aria-labelledby="nameLabel" aria-describedby="nameDescribe" pattern="^[a-zA-Z \-']+$" required data-input>
                        <small class="form__validation-message" id="nameDescribe" data-validation>Your name is required</small>
                    </div>

                    <div class="form__field">
                        <label class="form__label" id="emailLabel" for="email">Email</label>
                        <input class="form__input" id="email" type="email" name="email" aria-required="true" aria-labelledby="emailLabel" aria-describedby="emailDescribe" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required data-input>
                        <small class="form__validation-message" id="emailDescribe" data-validation>Please enter a valid email address</small>
                    </div>

                    <div class="form__field">
                        <label class="form__label" id="messageLabel" for="message">Message</label>
                        <textarea class="form__textarea" id="message" name="message" name="message" rows="6" cols="80" aria-required="true" aria-labelledby="messageLabel" aria-describedby="messageDescribe" required data-textarea></textarea>
                        <small class="form__validation-message" id="messageDescribe" data-validation>Please enter your message</small>
                    </div>
                    <button class="form__button button button--primary" type="submit" name="button" data-submit-button>Submit form</button>
                </div>
            {{#if fail}}
                <span class="form__message form__message--error">Oops. There was an error. Please submit the form again.</span>
            {{/if}}
            {{#if success}}
                <span class="form__message form__message--success">Hooray. Your message has been successfully sent.</span>
            {{/if}}
            </fieldset>
        </form>

        <aside class="contact__sidebar">
            <h3 class="contact__sidebar-title">Contact details</h3>
            <dl class="contact__list">
                <dt class="contact__list-title">Email</dt>
                <dd class="contact__list-body"><a class="link" href="mailto:{{settings.email}}">{{settings.email}}</a></dd>
                <dt class="contact__list-title">Phone Number</dt>
                <dd class="contact__list-body contact__list-body--notch">{{settings.phone}}</dd>
                <dt class="contact__list-title">Social Links</dt>
                <dd class="contact__list-body">
                {{#each settings.social as |item|}}
                    <a class="contact__list-link link" href="{{item.url}}" title="{{item.title-attr}}"{{#if item.external}} rel="external"{{/if}}>{{item.title}}</a>
                    <br>
                {{/each}}
                </dd>
            </dl>
        </aside>
    </article>
</main>
