---
title: Offline
layout: _layouts/default
---

<main class="offline notch" id="main">
    <div class="offline__container">
        <article class="offline__item">
            <h2 class="offline__heading">No connection? No problem</h2>

            <p>It looks as though your device is offline. Not to worry; I've got you covered with some offline content for you to read whilst you wait for your connection to return:</p>

            <ul class="list list--unordered">
                <li class="list__item"><a class="link" href="/" title="Go to the homepage">Head back home</a></li>
                <li class="list__item"><a class="link" href="/about-me/" title="Go to the about page.">Learn more about me</a></li>
                <li class="list__item"><a class="link" href="/contact/" title="Go to the contact page.">Find out how to contact me</a></li>
            </ul>

            <br>

            <h3 class="offline__sub-heading">Offline articles</h3>

            <p>If you'd like to read something, checkout these offline articles:</p>

            <ul class="list list--unordered">
                <li class="list__item"><a class="link" href="/articles/how-to-use-grid-and-flexbox-together/" title="How to use Grid and Flexbox together.">How to use Grid and Flexbox together</a></li>
                <li class="list__item"><a class="link" href="/articles/working-with-grid-the-holy-grail-of-css-layout/" title="Working with Grid: The holy grail of CSS layout.">Working with Grid: The holy grail of CSS layout</a></li>
                <li class="list__item"><a class="link" href="/articles/from-https-to-css-what-i-have-changed-on-my-website/" title="From HTTPS to CSS: What I've changed on my website blog post page.">From HTTPS to CSS: What I've changed on my website blog post page.</a></li>
            </ul>
        </article>

        <aside class="offline__sidebar">
            <h3 class="offline__sub-heading">Contact details</h3>

            <p>If you would like to get in touch, simply contact me via the methods below:</p>

            <ul class="list list--unordered">
                <li class="list__item">Phone: <strong>{{settings.phone}}</strong></li>
                <li class="list__item">Email: <a class="link" href="mailto:{{global.email}}" title="Send an email to Alex." rel="external">{{settings.email}}</a></li>
                <li class="list__item">Twitter: <a class="link" href="https://twitter.com/AlexMClapperton" title="Go to Alex's Twitter profile." rel="external">{{settings.twitterHandle}}</a></li>
                <li class="list__item">LinkedIn: <a class="link" href="https://uk.linkedin.com/in/alexclapperton" title="Go to Alex's LinkedIn profile." rel="external">{{settings.linkedinName}}</a></li>
            </ul>
        </aside>
    </div>
</main>
